@import '~antd/dist/antd.less';

// theme
@primary-color: #004bcc;
@link-color: #004bcc;

.form-page {
  padding: 20px;
  background: #fff;

  > .list-search {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
